@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translate(0,0);
    }

    100% {
        -webkit-transform: translate(-100%,0);
    }
}

#alert-ticker {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-color: $zen-black;

    span {
        color: $zen-red;
        display: inline-block;
        padding-left: 90%;
        font-size:1.5em;
        font-weight:900;
        -webkit-animation: scroll 15s infinite linear;
    }
}

