@{
    ViewBag.Title = "ZenView";
}
<div class="container">
    <div>
        <button id="signalRbtn"></button>
        <div id="signalRchat"></div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/SignalR.js"></script>
}