@{
    ViewBag.Title = "ZenView";
}
<div id="content"></div>
<div>
    <button id="signalRbtn"></button>
    <div id="signalRchat"></div>6
</div>

@section scripts{
    <script src="~/Scripts/SignalR.js"></script>
}