@{
    ViewBag.Title = "ZenView";
}
@*<div id="alert-ticker">
        <span>
            22:51 mto.se - https://www.mto.se/ Your site went down!
        </span>
    </div>*@
<div id="content"></div>
<div>
    <button id="signalRbtn"></button>
    <div id="signalRchat"></div>6
</div>

@section scripts{
    <script src="~/Scripts/SignalR.js"></script>
}