@{
    ViewBag.Title = "ZenView";
}
<div style="width:100%; background-color:black;text-align:right">
    <button id="signalRbtn" style="width:100%"></button>
</div>
<div id="content"></div>
<div>
    <div id="signalRchat"></div>
</div>
@section scripts{
    <script src="~/Scripts/Vendor/SignalR/jquery.signalR-2.4.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/SignalR.js"></script>
    <script src="~/Scripts/redux.js"></script>
    <script src="~/Scripts/react.js"></script>
}