@{
    ViewBag.Title = "ZenView";
}
<div style="width:100%; background-color:black;text-align:right">
    <button id="signalRbtn" style="width:100%"></button>
</div>
<div id="content"></div>
<div>
    <div id="signalRchat"></div>
</div>

@section scripts{
    <script src="~/Scripts/SignalR.js"></script>
}