@{
    ViewBag.Title = "ZenView";
}
<div id="alert-ticker"><span>Alert!</span></div>
<div class="container">
    <h1>Ticks</h1>
    <div>
        <button id="signalRbtn"></button>
        <div id="signalRchat"></div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/SignalR.js"></script>
}